.Nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;    
font-size: 20px;

}

.Nav_text{
   color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

.Nav_text:hover {
  background-color: #111;
}